.card {
  flex-grow: 1;
  margin: 10px;
  background: white;


  img {
    min-height: 200px;
    width: 100%;
    object-fit: cover;
    vertical-align: bottom;
  }

  .info {
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    background: #333;

    .favorite-button {
      background: transparent;
      border: none;
      font-size: 1.2em;

      &:hover {
        cursor: pointer;
      }

      .filled-heart {
        color: red;

        &:hover {
          color: rgba(180, 15, 15, 50);
        }
      }

      .empty-heart {
        color: #ccc;

        &:hover {
          color: rgba(255, 30, 30, 150);
        }
      }
    }


    span {
      display: block;
      font-size: 0.8em;
      color: #fff;
      text-align: center;
      padding: 10px;
      font-family: 'Roboto', sans-serif;
    }
  }

}
