.header {
  display: flex;
  flex-direction: row;

  .header-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .search-box {
      align-items: baseline;

      input {
        background: transparent;
        border: none;
        border-bottom: 2px solid white;
        height: 2rem;
        width: 20rem;
        margin-right: 10px;
        color: white;
      }

      button {
        background: white;
        height: 2rem;
        margin-bottom: -2px;
        font-family: 'Roboto', sans-serif;
        outline: 2px solid white;
        cursor: pointer;

        &:hover {
          background: transparent;
          color: white;
        }
      }
    }

    .nav-button {
      background: transparent;
      color: white;
      font-family: Roboto;
      text-decoration: none;
      outline: 2px solid white;
      padding: 10px;
      border-radius: 2px;
      font-size: 14px;
      margin-left: 10rem;
      margin-right: 10px;
    }
  }

  .header-info {
    flex: 1;

    .logo {
      color: white;
      font-family: 'Roboto', sans-serif;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}
