body {
  background: #000;
  margin: 0;
  padding: 0;
}

.app {
  width: 80%;
  margin: 10px auto;
  padding: 20px;

  .logo {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .header {
    display: flex;
  }

  .body {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}
